
<td class="js-contact-item">
    <span class="contact-item-value">{{name}}</span>
    <input class="js-contact-item-field js-contact-item-name contact-item-name" type="text" value="{{name}}" />
</td>
<td class="js-contact-item">
    <span class="contact-item-value">{{age}}</span>
    <input class="js-contact-item-field js-contact-item-age contact-item-age" type="text" value="{{age}}" />
</td>
<td class="js-contact-item">
    <span class="contact-item-value">{{gender}}</span>
    <input class="js-contact-item-field js-contact-item-gender contact-item-gender" type="text" value="{{gender}}" />
</td>
<td>
    <button class="btn btn-danger js-contact-delete">Delete</button>
</td>

